@page
@model ODY.Cihazkapinda.Web.Pages.Admin.Chat.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ODY.Cihazkapinda.Localization
@inject IHtmlLocalizer<CihazkapindaResource> L
@{
}

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <abp-script src="/Pages/Admin/Chat/Index.js" />
}
<input type="hidden" value="@Model.TenantName" id="currentTenantName" />
<div class="d-lg-flex">
    <div class="chat-leftsidebar mr-lg-4">
        <div class="">
            <div class="py-4 border-bottom">
                <div class="media">
                    <div class="align-self-center mr-3">
                    </div>
                    <div class="media-body">
                        <h5 class="font-size-15 mt-0 mb-1">@Model.TenantName.ToUpper()</h5>
                    </div>

                    @*<div>
                            <div class="dropdown chat-noti-dropdown active">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-bell bx-tada"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>

            <div class="search-box chat-search-box py-4">
                <div class="position-relative">
                    <input type="text" class="form-control" placeholder="Ara...">
                    <i class="bx bx-search-alt search-icon"></i>
                </div>
            </div>

            <div class="chat-leftsidebar-nav">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a href="#chat" data-toggle="tab" aria-expanded="true" class="nav-link active">
                            <i class="bx bx-chat font-size-20 d-sm-none"></i>
                            <span class="d-none d-sm-block">Mesajlar</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content py-4">
                    <div class="tab-pane show active" id="chat">
                        <div>
                            <h5 class="font-size-14 mb-3">Liste</h5>
                            <ul class="list-unstyled chat-list" data-simplebar id="chatlist" style="max-height: 410px;">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 user-chat" id="chatcontent" style="display:none;">
        <div class="card">
            <div class="p-4 border-bottom">
                <div class="row">
                    <div class="col-md-4 col-9">
                        <h5 class="font-size-15 mb-1" id="customer-name">Steven Franklin</h5>
                        @*<p class="text-muted mb-0"><i class="mdi mdi-circle text-success align-middle mr-1"></i> Active now</p>*@
                    </div>
                    <div class="col-md-8 col-3">
                        <ul class="list-inline user-chat-nav text-right mb-0">
                            @*<li class="list-inline-item d-none d-sm-inline-block">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-search-alt-2"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-md">
                                            <form class="p-3">
                                                <div class="form-group m-0">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Ara ..." aria-label="Recipient's username">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>*@
                            <li class="list-inline-item  d-none d-sm-inline-block">
                                <div class="dropdown">
                                    <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-cog"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item text-success" id="saveCustomer">Kullanıcıyı Kaydet</button>
                                        <button class="dropdown-item text-danger" id="closeMessage">Konuşmayı Bitir</button>
                                    </div>
                                </div>
                            </li>

                            @*<li class="list-inline-item">
                                    <div class="dropdown">
                                        <button class="btn nav-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-dots-horizontal-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else</a>
                                        </div>
                                    </div>
                                </li>*@

                        </ul>
                    </div>
                </div>
            </div>


            <div>
                <div class="chat-conversation p-3">
                    <ul class="list-unstyled mb-0" id="messagelist" style="max-height: 486px; min-height:486px;">
                    </ul>
                </div>
                <div class="p-3 chat-input-section">
                    <div class="row">
                        <div class="col">
                            <div class="position-relative">
                                <input type="text" id="btn-input" class="form-control chat-input" placeholder="Mesaj Yazın...">
                                @*<div class="chat-input-links">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Emoji"><i class="mdi mdi-emoticon-happy-outline"></i></a></li>
                                            <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Images"><i class="mdi mdi-file-image-outline"></i></a></li>
                                            <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="Add Files"><i class="mdi mdi-file-document-outline"></i></a></li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" id="btn-chat" class="btn btn-primary btn-rounded chat-send w-md waves-effect waves-light"><span class="d-none d-sm-inline-block mr-2">Gönder</span> <i class="mdi mdi-send"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<li class="customer-element" id="customerelementclone" style="display:none;cursor:pointer;">
    <div id="cloneempty">
        <input type="hidden" class="customer-value" value="" />
        <a>
            <div class="media align-items-center">
                <div class="avatar-xs mr-3">
                    <span class="avatar-title rounded-circle bg-soft-primary text-primary customer-circle">
                        
                    </span>
                </div>

                <div class="media-body">
                    <h5 class="font-size-14 mb-0 customer-name"></h5>
                </div>
            </div>
        </a>
    </div>
</li>

<li style="display:none;" id="messageelementclone">
    <div class="conversation-list" id="messageclone">
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
            </a>
        </div>
        <div class="ctext-wrap">
            <div class="conversation-name"></div>
            <p class="message-body">
            </p>
            <p class="chat-time mb-0"><i class="bx bx-time-five align-middle mr-1"></i> <span class="message-send-time">10:00</span></p>
        </div>
    </div>
</li>