@page
@model ODY.Cihazkapinda.Web.Pages.Install.IndexModel

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">KURULUM</h4>
                        <blockquote class="blockquote">
                            <p>Site kurulumu için aşağıdaki adımları tamamlamalısınız. Formu doldururken son derece <cite class="text-danger">DİKKATLİ</cite> olmayı unutmayın!</p>
                        </blockquote>
                        <form asp-page="/Install/Index" id="installForm">
                            <input type="hidden" asp-for="currentTenant" />
                            <input type="hidden" asp-for="license" />
                            <div id="progrss-wizard" class="twitter-bs-wizard">
                                <ul class="twitter-bs-wizard-nav nav-justified">
                                    <li class="nav-item">
                                        <a href="#license-input" class="nav-link" data-toggle="tab">
                                            <span class="step-number mr-2">01</span>
                                            Lisans Anahtarı
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#general" class="nav-link" data-toggle="tab">
                                            <span class="step-number mr-2">02</span>
                                            Genel Bilgiler
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="#theme-settings" class="nav-link" data-toggle="tab">
                                            <span class="step-number mr-2">03</span>
                                            Tema Ayarları
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#progress-confirm-detail" class="nav-link" data-toggle="tab">
                                            <span class="step-number mr-2">04</span>
                                            Tamamlandı
                                        </a>
                                    </li>
                                </ul>

                                <div id="bar" class="progress mt-4">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
                                </div>
                                <div class="tab-content twitter-bs-wizard-tab-content">
                                    <div class="tab-pane text-center" id="license-input">
                                        <h2 class="title">ANAHTAR</h2>
                                        <blockquote class="blockquote">
                                            <p>Lisans anahtarını doğru girdiğinizden emin olun!</p>
                                        </blockquote>
                                        <div class="row" style="padding-top:25px; padding-left:100px;padding-right:100px;">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control text-center font-size-18" maxlength="5" id="key_1">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control text-center font-size-18" maxlength="5" id="key_2">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control text-center font-size-18" maxlength="5" id="key_3">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control text-center font-size-18" maxlength="5" id="key_4">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="general">
                                        <div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <abp-input asp-for="installModal.generalSettingCreateModal.Title" />
                                                </div>

                                                <div class="col-lg-6">
                                                    <abp-input asp-for="installModal.generalSettingCreateModal.Description" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <abp-input asp-for="installModal.generalSettingCreateModal.Email" />
                                                </div>

                                                <div class="col-lg-4">
                                                    <abp-input asp-for="installModal.generalSettingCreateModal.Phone" />
                                                </div>

                                                <div class="col-lg-4">
                                                    <select asp-for="installModal.generalSettingCreateModal.City" class="form-control">
                                                        <option value="Yok">İl Seçiniz</option>
                                                        <option value="İstanbul">İstanbul</option>
                                                        <option value="Ankara">Ankara</option>
                                                        <option value="İzmir">İzmir</option>
                                                        <option value="Adana">Adana</option>
                                                        <option value="Adıyaman">Adıyaman</option>
                                                        <option value="Afyonkarahisar">Afyonkarahisar</option>
                                                        <option value="Ağrı">Ağrı</option>
                                                        <option value="Aksaray">Aksaray</option>
                                                        <option value="Amasya">Amasya</option>
                                                        <option value="Antalya">Antalya</option>
                                                        <option value="Ardahan">Ardahan</option>
                                                        <option value="Artvin">Artvin</option>
                                                        <option value="Aydın">Aydın</option>
                                                        <option value="Balıkesir">Balıkesir</option>
                                                        <option value="Bartın">Bartın</option>
                                                        <option value="Batman">Batman</option>
                                                        <option value="Bayburt">Bayburt</option>
                                                        <option value="Bilecik">Bilecik</option>
                                                        <option value="Bingöl">Bingöl</option>
                                                        <option value="Bitlis">Bitlis</option>
                                                        <option value="Bolu">Bolu</option>
                                                        <option value="Burdur">Burdur</option>
                                                        <option value="Bursa">Bursa</option>
                                                        <option value="Çanakkale">Çanakkale</option>
                                                        <option value="Çankırı">Çankırı</option>
                                                        <option value="Çorum">Çorum</option>
                                                        <option value="Denizli">Denizli</option>
                                                        <option value="Diyarbakır">Diyarbakır</option>
                                                        <option value="Düzce">Düzce</option>
                                                        <option value="Edirne">Edirne</option>
                                                        <option value="Elazığ">Elazığ</option>
                                                        <option value="Erzincan">Erzincan</option>
                                                        <option value="Erzurum">Erzurum</option>
                                                        <option value="Eskişehir">Eskişehir</option>
                                                        <option value="Gaziantep">Gaziantep</option>
                                                        <option value="Giresun">Giresun</option>
                                                        <option value="Gümüşhane">Gümüşhane</option>
                                                        <option value="Hakkâri">Hakkâri</option>
                                                        <option value="Hatay">Hatay</option>
                                                        <option value="Iğdır">Iğdır</option>
                                                        <option value="Isparta">Isparta</option>
                                                        <option value="Kahramanmaraş">Kahramanmaraş</option>
                                                        <option value="Karabük">Karabük</option>
                                                        <option value="Karaman">Karaman</option>
                                                        <option value="Kars">Kars</option>
                                                        <option value="Kastamonu">Kastamonu</option>
                                                        <option value="Kayseri">Kayseri</option>
                                                        <option value="Kırıkkale">Kırıkkale</option>
                                                        <option value="Kırklareli">Kırklareli</option>
                                                        <option value="Kırşehir">Kırşehir</option>
                                                        <option value="Kilis">Kilis</option>
                                                        <option value="Kocaeli">Kocaeli</option>
                                                        <option value="Konya">Konya</option>
                                                        <option value="Kütahya">Kütahya</option>
                                                        <option value="Malatya">Malatya</option>
                                                        <option value="Manisa">Manisa</option>
                                                        <option value="Mardin">Mardin</option>
                                                        <option value="Mersin">Mersin</option>
                                                        <option value="Muğla">Muğla</option>
                                                        <option value="Muş">Muş</option>
                                                        <option value="Nevşehir">Nevşehir</option>
                                                        <option value="Niğde">Niğde</option>
                                                        <option value="Ordu">Ordu</option>
                                                        <option value="Osmaniye">Osmaniye</option>
                                                        <option value="Rize">Rize</option>
                                                        <option value="Sakarya">Sakarya</option>
                                                        <option value="Samsun">Samsun</option>
                                                        <option value="Siirt">Siirt</option>
                                                        <option value="Sinop">Sinop</option>
                                                        <option value="Sivas">Sivas</option>
                                                        <option value="Şırnak">Şırnak</option>
                                                        <option value="Tekirdağ">Tekirdağ</option>
                                                        <option value="Tokat">Tokat</option>
                                                        <option value="Trabzon">Trabzon</option>
                                                        <option value="Tunceli">Tunceli</option>
                                                        <option value="Şanlıurfa">Şanlıurfa</option>
                                                        <option value="Uşak">Uşak</option>
                                                        <option value="Van">Van</option>
                                                        <option value="Yalova">Yalova</option>
                                                        <option value="Yozgat">Yozgat</option>
                                                        <option value="Zonguldak">Zonguldak</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <abp-input asp-for="installModal.generalSettingCreateModal.WorkTime" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="theme-settings">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <abp-select asp-for="installModal.generalSettingCreateModal.SiteTheme" asp-items="Model.themeList"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="progress-confirm-detail">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-6">
                                                <div class="text-center">
                                                    <div class="mb-4">
                                                        <i class="mdi mdi-information-outline text-warning display-4"></i>
                                                    </div>
                                                    <div>
                                                        <h5>İşlemi Tamamlayın</h5>
                                                        <h2 class="title text-danger">Dikkat!</h2>
                                                        <p class="text-muted">Tüm adımları doğru bir şekilde doldurduğunuza emin olun. Bu işlem sizin tarafınızdan geri alınamayacaktır. Herhangi bir eksik veya hatalı formlarınız için bizimle iletişime geçin.</p>
                                                        <blockquote class="blockquote">
                                                            <p><cite class="text-success">Tema ayalarını & Genel Bilgiler</cite> bölümleri daha sonra değiştirilebilir. </p>
                                                        </blockquote>
                                                        <input type="submit" value="Tamamla" class="btn btn-success" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pager wizard twitter-bs-wizard-pager-link">
                                    <li class="previous"><a href="javascript: void(0);">Geri</a></li>
                                    <li class="next"><a id="nextHtml" href="javascript: void(0);">İleri</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <abp-script-bundle name="@typeof(ODY.Cihazkapinda.Web.Pages.Install.IndexModel).FullName">
        <abp-script src="/Pages/Install/index.js" />
    </abp-script-bundle>

    <!-- form wizard init -->
    <script src="~/assets/js/pages/form-wizard.init.js"></script>
}

