@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Microsoft.AspNetCore.Mvc.Localization
@using ODY.Cihazkapinda.Localization
@model ODY.Cihazkapinda.Web.Pages.Admin.Licenses.CreateModalModel
@inject IHtmlLocalizer<CihazkapindaResource> L
@{
    Layout = null;
}
<form asp-page="/Admin/Licenses/CreateModal">
    <abp-modal size="Default">
        <abp-modal-header title="@L["Licenses"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="licenseCreateModal.TenantId" />
            <abp-select asp-for="licenseCreateModal.LICENSE_OWNER" asp-items="Model.tenantList" />
            <div class="row">
                <div class="col-9">
                    <abp-input asp-for="licenseCreateModal.LICENSE" />
                </div>
                <div class="col-3" style="margin-top:27px;">
                    <input type="button" class="btn btn-success" onclick="Generate()" value="Anahtar Üret">
                </div>
            </div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>

<script>

    function getRandomInt(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function generateProductKey() {
        var tokens = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789",
            chars = 5,
            segments = 4,
            keyString = "";

        for (var i = 0; i < segments; i++) {
            var segment = "";

            for (var j = 0; j < chars; j++) {
                var k = getRandomInt(0, 35);
                segment += tokens[k];
            }

            keyString += segment;

            if (i < (segments - 1)) {
                keyString += "-";
            }
        }

        return keyString;
    }

    function Generate() {
        document.getElementById("licenseCreateModal_LICENSE").value = generateProductKey();
    }
</script>