<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts">Layouts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-vertical">Vertical</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href=@Url.Action("Index", "LayoutsLightSidebar") key="t-light-sidebar">Light Sidebar</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsCompactSidebar") key="t-compact-sidebar">Compact Sidebar</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsIconSidebar") key="t-icon-sidebar">Icon Sidebar</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsBoxed") key="t-boxed-width">Boxed Width</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsPreloader") key="t-preloader">Preloader</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsColoredSidebar") key="t-colored-sidebar">Colored Sidebar</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsScrollable") key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-horizontal">Horizontal</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href=@Url.Action("Index", "LayoutsHorizontal") key="t-horizontal">Horizontal</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsHTopbarLight") key="t-topbar-light">Topbar light</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsHBoxed") key="t-boxed-width">Boxed width</a></li>
                                <li><a href=@Url.Action("Index", "LayoutHoriPreloader") key="t-preloader">Preloader</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsHColored") key="t-colored-topbar">Colored Header</a></li>
                                <li><a href=@Url.Action("Index", "LayoutsHoriScrollable") key="t-scrollable">Scrollable</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="menu-title" key="t-apps">Apps</li>

                <li>
                    <a href=@Url.Action("Index", "Calendar") class=" waves-effect">
                        <i class="bx bx-calendar"></i>
                        <span key="t-calendar">Calendar</span>
                    </a>
                </li>


            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->