@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.Identity
@using ODY.Cihazkapinda.Localization
@using Volo.Abp.Identity.Web.Navigation
@using ODY.Cihazkapinda.Web.Pages.Identity.Roles
@model IndexModel
@inject IHtmlLocalizer<CihazkapindaResource> L
@inject IAuthorizationService Authorization
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Roles"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:IdentityManagement"].Value);
    PageLayout.Content.MenuItemName = IdentityMenuNames.Roles;
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
@section styles {
    <abp-style-bundle name="@typeof(IndexModel).FullName">
        <abp-style src="/Pages/AbpPermissionManagement/permission-management-modal.css" />
    </abp-style-bundle>
}
@section scripts {
    <abp-script-bundle name="@typeof(IndexModel).FullName">
        <abp-script src="/Pages/AbpPermissionManagement/permission-management-modal.js" />
        <abp-script src="/Pages/identity/roles/index.js" />
    </abp-script-bundle>
}

<style>
    .centered {
        transform: translate3d(78px, -13px, 0px) !important;
    }
</style>
<abp-card id="IdentityRolesWrapper">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Roles"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <button type="button" class="btn btn-primary waves-effect waves-light" name="CreateRole">@L["CreateRole"]</button>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table style="border-collapse: collapse; border-spacing: 0; width: 100%;" striped-rows="true" class="table table-striped table-bordered dt-responsive nowrap"></abp-table>
    </abp-card-body>
</abp-card>