@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ODY.Cihazkapinda.Localization
@using Volo.Abp.Users
@model ODY.Cihazkapinda.Web.Pages.IndexModel
@inject IHtmlLocalizer<CihazkapindaResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
@{ var layout = Model.theme;
                Layout = "~/" + layout; }


<div class="loading-overlay">
    <div class="bounce-loader">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="body">
    <header id="header" style="z-index: 100001;" class="header-transparent header-transparent-not-fixed header-no-min-height" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 52, 'stickySetTop': '0'}">
        <div class="header-body border-top-0 header-body-bottom-border">
            <div class="header-container container container-lg">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img alt="Porto" width="90" src="~/frontend/img/logo.png">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
                                <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                <a class="dropdown-item dropdown-toggle active" href="~/">
                                                    @L["MainMenu:Home"]
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item dropdown-toggle" href="/Account/Login">
                                                    @L["MainMenu:Login"]
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                            <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
                                <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                    <a href="#" class="header-nav-features-toggle" data-focus="headerSearch"><i class="fas fa-search header-nav-top-icon"></i></a>
                                    <div class="header-nav-features-dropdown" id="headerTopSearchDropdown">
                                        <form role="search" action="page-search-results.html" method="get">
                                            <div class="simple-search input-group">
                                                <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                                                <span class="input-group-append">
                                                    <button class="btn" type="submit">
                                                        <i class="fa fa-search header-nav-top-icon"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div role="main" class="main">
        <section class="section my-0">
            <div class="container py-5 my-5">
                <div class="row justify-content-center mt-5 py-4">
                    <div class="col-12 col-sm-auto text-center text-sm-left mt-5">
                        <span class="d-block font-weight-light negative-ls-1 text-5 ml-2 mb-1 appear-animation" data-appear-animation="fadeInUp"><em class="opacity-8">Get to meet simply</em></span>
                        <h1 class="font-weight-extra-bold text-color-dark negative-ls-3 text-10 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>THE BEST HTML SITE TEMPLATE</em></h1>
                        <span class="d-block text-sm-right alternative-font text-color-primay ml-2 ml-sm-0 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">since 2013</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 text-center">
                        <p class="lead lead-2 mb-5 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">Porto is simply the best choice for your new website. The theme is several years among the most popular in the world, being constantly improved and following the trends of design and best practices of code. Your search for the best solution is over, get your own copy and join thousands of happy customers.</p>
                        <a href="#demos" data-hash data-hash-offset="125" class="btn btn-primary btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 box-shadow-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">VIEW ALL DEMOS</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section pt-0 my-0 pb-0 min-height-screen border-0 bg-color-dark-scale-3" id="demos">
            <div class="container-fluid">
                <div class="row justify-content-center py-4 py-sm-0 bg-color-dark-scale-2">
                    <div class="col-auto col-sm-12 col-md-auto">
                        <ul class="nav nav-light nav-active-style-1 sort-source justify-content-center flex-column flex-sm-row" data-sort-id="portfolio" data-option-key="filter">
                            <li class="nav-item" data-option-value="*"><a class="nav-link font-weight-semibold text-2 active" href="#">SHOW ALL</a></li>
                            <li class="nav-item" data-option-value=".creative"><a class="nav-link font-weight-semibold text-2" href="#">CREATIVE</a></li>
                            <li class="nav-item" data-option-value=".onepage"><a class="nav-link font-weight-semibold text-2" href="#">ONE PAGE</a></li>
                            <li class="nav-item" data-option-value=".business"><a class="nav-link font-weight-semibold text-2" href="#">BUSINESS</a></li>
                            <li class="nav-item" data-option-value=".portfolio"><a class="nav-link font-weight-semibold text-2" href="#">PORTFOLIO</a></li>
                            <li class="nav-item" data-option-value=".blog"><a class="nav-link font-weight-semibold text-2" href="#">BLOG</a></li>
                            <li class="nav-item" data-option-value=".shop"><a class="nav-link font-weight-semibold text-2" href="#">SHOP</a></li>
                            <li class="nav-item" data-option-value=".classic"><a class="nav-link font-weight-semibold text-2" href="#">CLASSIC</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row min-height-screen">
                    <div class="col min-height-screen">
                        <div class="sort-destination-loader min-height-screen mt-5 pt-2 px-4">
                            <div class="row portfolio-list sort-destination overflow-visible" data-sort-id="portfolio">
                                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 isotope-item classic px-4">
                                    <div class="appear-animation" data-appear-animation="fadeInUp" data-plugin-options="{'accY': -150}" data-appear-animation-delay="">
                                        <div class="portfolio-item hover-effect-1">
                                            <a href="index-classic.html">
                                                <span class="thumb-info thumb-info-no-zoom thumb-info-no-overlay thumb-info-no-bg border-0 border-radius-0">
                                                    <span class="thumb-info-wrapper thumb-info-wrapper-demos m-0 border-radius-0">
                                                        <img src="~/frontend/img/previews/preview-classic.jpg" class="img-fluid border-radius-0" alt="">
                                                    </span>
                                                </span>
                                            </a>
                                            <h2 class="font-weight-semibold text-3 text-center"><a href="index-classic.html" class="text-color-light text-decoration-none text-1 text-uppercase">Classic</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4 bg-color-dark-scale-3 pb-5 p-relative z-index-1">
                    <div class="col text-center mt-3 mb-5">
                        <p>Sure! <strong class="text-color-light">All demos are included</strong>, choose one and start right now to build your website.</p>
                        <a href="index-classic.html" class="btn btn-light-2 btn-outline btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 box-shadow-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">VIEW MAIN DEMO</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-height-3 border-0 my-0">
            <div class="container container-lg">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="pr-5">
                            <span class="d-block font-weight-light negative-ls-1 text-5 mb-1 appear-animation" data-appear-animation="fadeInUp"><em class="text-2 opacity-8">Porto comes with</em></span>
                            <h1 class="font-weight-extra-bold text-color-dark negative-ls-3 line-height-1 text-7 mb-3 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>AMAZING FEATURES</em></h1>
                            <span class="d-block alternative-font text-color-primay text-5 mb-4 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">Enjoy the power</span>
                            <p class="lead mb-4 pb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">You can build almost any kind of website using Porto as base. The theme has several layouts options that you can easily modify.</p>
                            <div class="row appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">
                                <div class="col-md-6">
                                    <ul class="list list-icons list-style-none text-4 pl-none mb-2 pb-2 pr-3">
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> HTML5+JS+CSS+SCSS</li>
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Wide &amp; Boxed</li>
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Dark &amp; Light</li>
                                        <li class="text-1 text-color-primary mb-0 mb-md-3"><i class="fa fa-check text-primary text-4 mr-1"></i> RTL Support</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list list-icons list-style-none text-4 pl-none mb-2 pb-2 pr-3">
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Bootstrap 4+</li>
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> SEO Optimized</li>
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Blog Pages</li>
                                        <li class="text-1 text-color-primary mb-3"><i class="fa fa-check text-primary text-4 mr-1"></i> Shop Pages</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 fluid-col-lg-6" style="min-height: 35vw;">
                        <div class="fluid-col">
                            <div id="carouselSync" class="owl-carousel owl-theme d-none d-sm-block mb-0" data-plugin-options="{'items': 1, 'loop': true, 'nav': false, 'dots': false, 'mouseDrag': false, 'touchDrag': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut'}" style="z-index: 0;">
                                <div>
                                    <img src="~/frontend/img/porto-admin-preview-1.jpg" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <div class="owl-carousel owl-theme carousel-sync-style-1 nav-bottom-inside nav-style-1 mb-0 px-3 px-sm-0" data-plugin-options="{'items': 1, 'loop': true, 'nav': false, 'dots': false, 'mouseDrag': false, 'touchDrag': false}" data-sync="#carouselSync">
                                <div>
                                    <div class="card border-0">
                                        <div class="card-body text-center" style="padding: 3.5rem 2rem 1rem;">
                                            <span class="font-weight-light mb-1"><em>Check also...</em></span>
                                            <h2 class="text-color-primary font-weight-extra-bold line-height-1 text-6 mb-2"><em class="text-2">PORTO ADMIN</em></h2>
                                            <p class="text-2">Porto Admin is a perfect solution to create an administration system for your site.</p>
                                            <a href="https://themeforest.net/item/porto-admin-responsive-html5-template/8539472" class="btn btn-dark btn-rounded btn-xl font-weight-semibold box-shadow-2 text-2 px-5 mb-3">VIEW PORTO ADMIN - $24</a>
                                            <p class="text-muted text-1 mb-5">* NOT INCLUDED ON PORTO FRONT END</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-height-4 bg-color-primary border-0 my-0">
            <div class="container-fluid">
                <div class="row justify-content-center pb-4 mb-5">
                    <div class="col-12 col-sm-auto text-center mt-5">
                        <span class="d-block font-weight-light text-left text-color-light negative-ls-1 text-5 ml-2 appear-animation" data-appear-animation="fadeInUp"><em class="opacity-8">Start right now!</em></span>
                        <h1 class="font-weight-extra-bold text-color-light text-10 mb-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200"><em>THE BEST HTML THEME EVER!</em></h1>
                        <span class="d-block text-sm-right alternative-font text-color-light text-6 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">Join The 30,000+ Happy Customers :)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <p class="text-color-light text-4 font-weight-light mb-1 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">Porto Admin Integration<span class="text-1">*</span> - 100% Fully Responsive - Retina Ready - Google Fonts - Super Fast</p>
                        <p class="text-color-light text-4 font-weight-light pb-3 mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">Top-Level Support - Customizable - RTL Support - SEO Friendly</p>
                        <a href="https://themeforest.net/item/porto-responsive-html5-template/4106987" class="btn btn-dark btn-rounded btn-xl font-weight-semibold text-2 px-5 py-3 mb-5 box-shadow-2 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="800">PURCHASE PORTO</a>
                        <div class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
                            <p class="text-color-light opacity-9">* LEARN MORE ABOUT <a href="http://www.okler.net/forums/topic/how-to-integrate-porto-admin-extension-on-porto/" target="_blank" class="d-inline-block text-color-light"><strong><u>PORTO ADMIN INTEGRATION</u></strong></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer id="footer" class="mt-0 border-0 bg-color-light">
        <div class="footer-copyright bg-color-light">
            <div class="container py-2">
                <div class="row py-4">
                    <div class="col d-flex align-items-center justify-content-center">
                        <p><strong>PORTO TEMPLATE</strong> - © Copyright 2019. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>